<!-- begin::Body -->
<!-- begin::Item -->
<div class="d-flex align-items-center p-5" style="background-color: var(--header-background);">
    <!-- begin::Label -->
    <div class="flex-grow-1 me-2">
        <a  class="fw-bolder  fs-2" style="color: white;">
            {{ "CleanStatusWidgetComponent.tittle" | translate }}
        </a>
    </div>
    <!-- end::Label -->
</div>
<!--end:Item-->


<!-- begin::Item -->
<div class="d-flex align-items-center p-5" style="background-color: var(--deep-red-background);">
    <!-- begin::Label -->
    <div class="flex-grow-1 me-2" >
        <a  class="fw-bolder  fs-2" style="color: white;">
            {{"CleanStatusWidgetComponent.clean" | translate}}
        </a>
    </div>
    <!-- end::Label -->
    <!-- begin::Content -->
    <div class="flex-grow-1 fw-bolder rounded-2 py-1" >
        <div class="d-flex flex-column me-2">
            <span class="fw-bold text-gray-800;" style="font-size: 3rem; color: var(--light-blue-font); margin: inherit;">
                {{limpias.length}}
            </span>
        </div>
    </div>
    <!-- end::Content -->
    <!-- begin::Label -->
    <div class="flex-grow-1 me-2">
        <a  class="fw-bolder  fs-2" style="color: white;">
            {{"CleanStatusWidgetComponent.dirty" | translate}}
        </a>
    </div>
    <!-- end::Label -->
    <!-- begin::Content -->
    <div class=" flex-grow-1 fw-bolder rounded-2 py-1">
        <div class="d-flex flex-column me-2">
            <span class="fw-bold text-gray-800;" style="font-size: 3rem; color: var(--header-background); margin: inherit;">
                {{sucias.length}}
            </span>
        </div>
    </div>
    <!-- end::Content -->
</div>
<!-- start: Line -->
<div style="border:solid; border-width: thick; border-image:linear-gradient(to right, var(--light-blue-font) 50%, var(--header-background) 50%)1 100">
</div> 
<!-- end: Line -->

<!-- end: Item-->

<!-- begin::Item -->
<div class="d-flex align-items-center p-5 " style="background-color: var(--deep-red-background);">
    <!-- begin::Label -->
    <div class="flex-grow-1 me-2">
        <a  class="fw-bolder  fs-2" style="color: white;">
            {{"CleanStatusWidgetComponent.review" | translate}}
        </a>
    </div>
    <!-- end::Label -->
    <!-- begin::Content -->
    <div class="flex-grow-1 fw-bolder rounded-2 py-1">
        <div class="d-flex flex-column me-2">
            <span class="fw-bold text-gray-800;" style="font-size: 3rem; color: var(--deep-yellow-background); margin: inherit;">
                {{limpiando.length}}
            </span>
        </div>
    </div>
    <!-- end::Content -->
    <!-- begin::Label -->
    <div class="flex-grow-1 me-2">
        <a  class="fw-bolder  fs-2" style="color: white;">
            {{"CleanStatusWidgetComponent.retouch" | translate}}
        </a>
    </div>
    <!-- end::Label -->
    <!-- begin::Content -->
    <div class=" flex-grow-1 fw-bolder rounded-2 py-1">
        <div class="d-flex flex-column me-2">
            <span class="fw-bold text-gray-800;" style="font-size: 3rem; color: var(--light-green-font); margin: inherit;">
                {{retocar.length}}
            </span>
        </div>
    </div>
    <!-- end::Content -->

</div>
<!-- end: Item-->
    <!-- start: Line -->
    <div style="border:solid; border-width: thick; border-image:linear-gradient(to right, var(--deep-yellow-background) 50%, var(--light-green-font) 50%)1 100">
    </div> 
    <!-- end: Line -->
