
<div style="background-color: var(--background-pink);" class="modal-header">
    <h1 style="text-align: center; color: white;" class="text-center modal-title h4 col-10"
      id="example-modal-sizes-title-lg">
      {{"PromosComponent.promosComponentTitle" | translate }}
</h1>
    <button style="background-color:#fa6d7c; font-weight: bold; color: white;" class="btn" (click)="modal.dismiss()"> X </button>
  </div>  
      <mat-tab-group (selectedIndexChange)="onTabChange($event)">
        <mat-tab [label]="'PromosComponent.basicTab' | translate">
            <app-basic-tab  
                [tabIndex]="selectedTabIndex"
                [disponiblesIndexadosCamas]="disponiblesIndexadosCamas"
                (honAlertsEvent)="onAlertsEvent($event)"
            ></app-basic-tab>
        </mat-tab>
        <mat-tab [label]="'PromosComponent.anticipadaTab' | translate">
            <app-basic-tab  
                [tabIndex]="selectedTabIndex"
                [disponiblesIndexadosCamas]="disponiblesIndexadosCamas"
                (honAlertsEvent)="onAlertsEvent($event)"
            ></app-basic-tab>
        </mat-tab>
        <mat-tab [label]="'PromosComponent.lastminuteTab' | translate">
            <app-basic-tab  
                [tabIndex]="selectedTabIndex"
                [disponiblesIndexadosCamas]="disponiblesIndexadosCamas"
                (honAlertsEvent)="onAlertsEvent($event)"
            ></app-basic-tab>
        </mat-tab>
        <mat-tab [label]="'PromosComponent.freenightTab' | translate">
            <app-basic-tab  
                [tabIndex]="selectedTabIndex"
                [disponiblesIndexadosCamas]="disponiblesIndexadosCamas"
                (honAlertsEvent)="onAlertsEvent($event)"
            ></app-basic-tab>        
        </mat-tab>
      </mat-tab-group>
<div class="card-footer" style="text-align: center;">
    <button (click)="onSubmit()" class="btn btn-success col-lg-12">Aceptar</button>
  </div>
  