
<!--begin::Header menu toggle-->
<ng-container *ngIf="appHeaderDefaulMenuDisplay">
  <div
    class="app-navbar-item ms-2 me-n3 mb-3 d-none-mobile"
    title="Show header menu"
  >
    <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
      <app-keenicon name="element-4" class="fs-1" [ngClass]="btnIconClass"></app-keenicon>
    </div>
  </div>
</ng-container>

<!--end::Header menu toggle-->

<button 
  class="btn align-items-center d-flex fw-bolder rounded-2 py-1 mb-3" 
  [ngClass]="itemClass" 
  id="kt_header_search_toggle" 
  data-kt-search-element="toggle" 
  matTooltip="Llegadas" 
  matTooltipPosition="above"
  (click)="navigateTo('llegadas')" 
  style="
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
    background-color: var(--light-green-background); 
    padding: 0.5rem 1rem; 
    max-width: 150px; /* Adjust this value to fit your design */
    width: auto;      /* Ensure the button size is responsive */
    text-align: center; /* Centers the content */
  "
>
  <div class="d-flex flex-column me-3">
    <span class="fw-bold text-gray-800" style="font-size: 1.5rem;">
      {{ llegadas }}
    </span>
  </div>
  <img 
    src="../../../../../../assets/media/icons/movnext/check_in.png" 
    alt="Arrivals" 
    width="25px" 
    height="25px"
  >
</button>



<!--begin::Departures-->
<!-- Departures Button -->
<button 
  class="btn align-items-center d-flex fw-bolder rounded-2 py-1 mb-3" 
  [ngClass]="itemClass" 
  id="kt_departures_button" 
  data-kt-search-element="toggle" 
  matTooltip="Salidas" 
  matTooltipPosition="above"
  (click)="navigateTo('salidas')" 
  style="
    background-color: var(--light-red-background); 
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem; 
    max-width: 150px; 
    text-align: center;
  "
>
  <div class="d-flex flex-column me-3">
    <span class="fw-bold text-gray-800" style="font-size: 1.5rem;">
      {{ salidas }}
    </span>
  </div>
  <img 
    src="../../../../../../assets/media/icons/movnext/departure.png" 
    alt="Departures" 
    width="25px" 
    height="25px"
  >
</button>

<!-- Mat-Tab below the button -->
<div *ngIf="tabVisible" class="mat-tab-container mt-3">
  <app-llegadas-table></app-llegadas-table>
</div>

<!--end::Departures-->

<!-- Colgados Button -->
<button 
  class="btn align-items-center d-flex fw-bolder rounded-2 py-1 mb-3" 
  [ngClass]="itemClass" 
  id="kt_no_show_button" 
  data-kt-search-element="toggle" 
  matTooltip="Colgados" 
  matTooltipPosition="above"
  (click)="navigateTo('colgados')" 
  style="
    background-color: var(--light-red-background); 
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem; 
    max-width: 150px; 
    text-align: center;
  "
>
  <div class="d-flex flex-column me-3">
    <span class="fw-bold text-gray-800" style="font-size: 1.5rem;">
      {{ colgados }}
    </span>
  </div>
  <img 
    src="../../../../../../assets/media/icons/movnext/late_check_out.png" 
    alt="Colgados" 
    width="25px" 
    height="25px"
  >
</button>

<!--end::Colgados-->

<!-- NoShow Button -->
<button 
  class="btn align-items-center d-flex fw-bolder rounded-2 py-1 mb-3" 
  [ngClass]="itemClass" 
  id="kt_no_show_button" 
  data-kt-search-element="toggle" 
  matTooltip="NoShow" 
  matTooltipPosition="above"
  (click)="navigateTo('noshow')" 
  style="
    background-color: var(--light-red-background); 
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem; 
    max-width: 150px; 
    text-align: center;
  "
>
  <div class="d-flex flex-column me-3">
    <span class="fw-bold text-gray-800" style="font-size: 1.5rem;">
      {{ noShow }}
    </span>
  </div>
  <img 
    src="../../../../../../assets/media/icons/movnext/no-show.png" 
    alt="No Show" 
    width="20px" 
    height="20px"
  >
</button>

<!--end::NoShow-->

<!--begin::Activities-->
<div class="app-navbar-item mb-3" [ngClass]="itemClass" matTooltip="Revisar Logs" matTooltipPosition="above">
  <div [ngClass]="btnClass" id="kt_activities_toggle">
    <img src="../../../../../../assets/media/icons/movnext/logs.png" alt="logs" width="35px" height="35px">
  </div>
</div>

<!--end::Activities-->

<!--begin::Notifications-->
<div class="app-navbar-item mb-3" [ngClass]="itemClass">
  <!-- Optional: Notifications content -->
</div>
<!--end::Notifications-->

<!--begin::Chat-->
<!-- <div class="app-navbar-item mb-3" [ngClass]="itemClass">
  <div [ngClass]="btnClass" class="position-relative" id="kt_drawer_chat_toggle">
  </div>
</div> -->
<!--end::Chat-->

<!--begin::User menu-->
<!-- <div class="app-navbar-item mb-3" [ngClass]="itemClass"> -->
  <!-- Optional: User menu content -->
<!-- </div> -->
<!--end::User menu-->

