<div class="control-section">
  <div class="col-lg-12 content-wrapper">
    <ejs-schedule #scheduleObj width='100%' cssClass='timeline-resource-grouping' height='500px'
      [selectedDate]="selectedDate" [group]="group" [workDays]="workDays" [eventSettings]="eventSettings" [timeScale]="timeScale" 
      [rowAutoHeight]="rowAutoHeight" [currentView]="currentView" >
      <ng-template #dateHeaderTemplate let-data>
        <div class="date-text"></div>
        <div [innerHTML]="getDateHeaderText(data.date)"></div>
      </ng-template>
        <e-resources>
          <e-resource 
            field='ProjectId' 
            title='Choose Project' 
            [dataSource]='tipoHabGroupDataSource'
            [allowMultiple]='allowMultiple' 
            name='Type' 
            textField='text' 
            idField='id' 
            colorField='color'
          >
          </e-resource>
          <e-resource 
            field='TaskId' 
            title='Category' 
            [dataSource]='habitacionPorTipoDataSource' 
            [allowMultiple]='allowMultiple'
            name='Rooms' 
            textField='text' 
            idField='id' 
            groupIDField='groupId' 
            colorField='color'
          >
          </e-resource>
        </e-resources>
    <e-views>
      <e-view option="TimelineDay" [interval]="dayInterval"></e-view>
      <e-view option="TimelineWeek"></e-view>
      <e-view option="TimelineWorkWeek"></e-view>
      <e-view option="TimelineMonth"></e-view>
      <e-view option="Agenda"></e-view>
    </e-views>
    </ejs-schedule>
  </div>
</div>