.schedule-block-events.e-schedule .e-timeline-view .e-appointment .template-wrap .subject {
  padding: 10px 25px;
}

.schedule-block-events .subject {
  text-align: center;
}

.schedule-block-events.e-schedule .template-wrap {
  width: 100%;
}

.schedule-block-events.e-schedule .e-vertical-view .e-resource-cells {
  height: 58px;
}

.schedule-block-events.e-block-appointment .subject,
.schedule-block-events.e-schedule .e-vertical-view .e-appointment .template-wrap .subject {
  padding-top: 10px;
}

.schedule-block-events.e-schedule .e-timeline-view .e-resource-left-td,
.schedule-block-events.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 170px;
}

.schedule-block-events.e-schedule .e-resource-cells.e-child-node .employee-category,
.schedule-block-events.e-schedule .e-resource-cells.e-child-node .employee-name {
  padding: 5px
}

.schedule-block-events.e-schedule .employee-image {
  width: 45px;
  height: 40px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.schedule-block-events.e-schedule .employee-name {
  font-size: 13px;
}

.schedule-block-events.e-schedule .employee-designation {
  font-size: 10px;
}
.e-schedule .e-timeline-view .e-content-wrap table td {
  text-align: center;
}

/*Hides Time in header*/
.timeline-resource-grouping .e-time-slots {
  display: none;
}

///Extra icon added on grouping header
.timeline-resource-grouping.e-schedule .e-timeline-view .e-resource-cells.e-parent-node .e-icons.e-people {
  display: none;
}

.e-schedule .e-timeline-view .e-work-cells,
.e-schedule .e-timeline-month-view .e-work-cells {
  background: #fff; /**COLOR DE FONDO DE LOS EVENTOS*/
}

.e-schedule .e-timeline-view .e-resource-group-cells {
  background-color: #fafafa;
}



.timeline-resource-grouping.e-schedule .e-timeline-view .e-resource-left-td,  /* Tamaña de ancho de columna del grupo del tipo de cuarto*/
.timeline-resource-grouping.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 150px;
}

.timeline-resource-grouping.e-schedule .e-timeline-view .e-resource-text, 
.timeline-resource-grouping.e-schedule .e-timeline-month-view .e-resource-text {
  padding: 0;
  margin: 0px !important;
}

.timeline-resource-grouping.e-schedule .e-timeline-view .e-resource-cells, 
.timeline-resource-grouping.e-schedule .e-timeline-month-view .e-resource-cells {
  padding: 0;
}
// #indexDiv:hover{
//   background-color: rgb(109, 109, 194);
//   color: white;
// }
.thumbnail:hover {
  transform: scale(1.5);
}

// REMOVE TIMES BELOW RESERVATIONS

.e-schedule .e-timeline-view .e-appointment .e-time,
.e-schedule .e-timeline-month-view .e-appointment .e-time {
      display: none !important;
}
// Center REservations
.e-schedule .e-timeline-view .e-appointment .e-subject,
    .e-schedule .e-timeline-month-view .e-appointment .e-subject {
      padding-top:12px !important;
}

.image {
  width: 34px;
  height: 21px;
  background-size: 45px;
  background-repeat: no-repeat;
}

// Center onDataBound Values in TimeLine Month view
.e-schedule .e-timeline-month-view .e-work-cells {
  text-align: center;
}

.e-resource-group-cells > div {
  color: #fa6d7c !important;
  font-weight: bold;
}

.weekend-cell {
  background-color: #f0f0f0 !important; // light gray
}



