<div class="control-section">
  <div class="col-lg-12 content-wrapper">
    <!-- <mat-select
      class="form-control form-control-lg "
      placeholder="-- Choose DayInterval to display -- "
      [(value)]='scheduleinterval'
      (change)="onChange($event)"
      >
    <mat-option value="0">-- Choose DayInterval to display --</mat-option>
        <mat-option *ngFor="let tipoCuarto of datas" [value]="tipoCuarto">{{tipoCuarto}} </mat-option>
    </mat-select> -->
    <!-- <ejs-dropdownlist  id="scheduleview" [dataSource]='datas' [(value)]='scheduleinterval'(change)="onChange($event)" >
    </ejs-dropdownlist> Changes the number of days displayed on View-->
    <!-- enableAdaptiveUI='true' use this on ejs-schedule for mobile resize -->
    <ejs-schedule 
    #scheduleObj 
    width='100%' 
    cssClass='timeline-resource-grouping' 
    height='100%'
    allowSwiping="false"
    [showTimeIndicator]="false"
      [selectedDate]="selectedDate" 
      [group]="group" 
      [workDays]="workDays" 
      [eventSettings]="eventSettings" 
      [timeScale]="timeScale" 
      [currentView]="currentView" 
      (actionComplete)="onActionComplete($event)" 
      (renderCell)="onRenderCell($event)"
      (dataBound)="onDataBound()"
      (popupOpen)="onPopupOpen($event)"
      (dragStart)="onDragStart($event)"
      (dragStop)="onDragStop($event)"
      (eventRendered)="onEventRendered($event)"
      (resizeStart)="onResizeStart($event)"
      (resizeStop)="onResizeStop($event)"
      [quickInfoOnSelectionEnd] = "true"
      (actionBegin)="onMovileActionBegin($event)"
      >

      <ng-template #eventSettingsTemplate let-data>
        <div class='template-wrap'>
            <div style="width: 100%; font-weight: bolder;" class="subject">{{data.Subject}}</div>
            <div style="width: 100%; font-weight: bolder;" class="some-image"><img class="image" src="https://ej2.syncfusion.com/angular/demos/assets/schedule/images/margaret.png" /> {{data.Saldo | currency:'MX' }}</div>
        </div>
      </ng-template>

      <ng-template #dateHeaderTemplate let-data>
        <div class="date-text"></div>
        <div [innerHTML]="getDateHeaderText(data.date)"></div>
      </ng-template>
      
      <ng-template #resourceHeaderTemplate let-data let-index>
        <div style="height: 100%; display: flex; align-items: center; justify-content: start;">
          <div [matMenuTriggerFor]="menu" class="btn btn-icon btn-custom btn-icon-muted">
            <img class="thumbnail" *ngIf="isChildNode(data)" [src]="getIconClass(data.resourceData.text)" alt="{{data.resourceData.ImageName}}" style="height: 57px; width: 30px;" />
          </div>

            <mat-menu #menu="matMenu">
              <ng-container *ngFor="let estatus of estatusArray">
                <button (click)="onStatusChange(data.resourceData.text, estatus.Descripcion)" mat-menu-item>
                  <span>{{estatus.Descripcion}}</span>
                </button>
              </ng-container>
            </mat-menu>

          {{data.resourceData.text}}
        </div>
      </ng-template>

      <!--Inner Cell Template for data-->
      <ng-template #cellTemplate let-data>
        <div class="templatewrap" *ngIf="isInitialized" [innerHTML]="getDailyRates(data)"></div>
      </ng-template>


        <e-resources>
          <e-resource 
            field='ProjectId' 
            title='Choose Project' 
            [dataSource]='tipoHabGroupDataSource'
            [allowMultiple]='allowMultiple' 
            name='Type' 
            textField='text' 
            idField='id' 
            colorField='color'
          >
          </e-resource>
          <e-resource 
            field='TaskId' 
            title='Category' 
            [dataSource]='habitacionPorTipoDataSource' 
            [allowMultiple]='allowMultiple'
            name='Rooms' 
            textField='text' 
            idField='id' 
            groupIDField='groupId' 
            colorField='color'
          >
          </e-resource>
        </e-resources>
    <e-views>
      <e-view option="TimelineDay" [interval]="dayInterval"></e-view>
      <e-view option="TimelineWeek"></e-view>
      <e-view option="TimelineMonth"></e-view>
    </e-views>


    </ejs-schedule>

  </div>
</div>
