.mat-select
{
  width: fit-content;
  min-width: 100%;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}
.control-label{
  color: #025976; 
  font-weight: bold;
}
.sub-menu{
  background-color:#319dd7;
}
.spinner_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.534);
  opacity: 0.8;
  z-index: 1000;
}
.dropDown-seasons-panel {
  border-radius: 10px !important;
  border: 1px solid gray !important;
  position: absolute !important;
  top: 50px !important;
}

  
/* Styles for tab labels */
.mat-tab-label {
  min-width: 80px !important;
  padding: 5px;
  background-color: transparent;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 80px !important;
  padding: 5px;
  background-color: transparent;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}


//TOTALS STYLES
.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-3 {
  margin-bottom: 3%;
}

.font-weight-bold {
  font-weight: bold;
}

.large-text {
  font-size: large;
}

.account-info {
  background-color: #0083b2;
}

.payment-info {
  background-color: #da8f27;
}

.pending-info {
  background-color: var(--header-background);
}


