<div style="background-color: var(--deep-red-background);" class="modal-content">
    <button
      style="
        position: absolute;
        top: 2%;
        right: 1%;
        background-color:var(--header-background);
        font-weight: bold;
        color: white;
      "
      class="btn"
      (click)="closeModal()"
    >
      X
    </button>
    <br />
    <div class="container">
      <div
        style="font: bold; color: white; pointer-events: none;"
        class="modal-title h4 col-12"
        id="example-modal-sizes-title-lg"
      >
        <div class="row col-md-12">
          <h2 style="font-size: 1.5em; color: white;">{{currentHuesped.nombre}}</h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <small style="color: white; font-size: 1em"
            >ID RVA : &nbsp;
            <small style="font-size: 1em; font-weight: bold; color: white">{{currentHuesped.folio}}</small>
          </small>
          </div>
          <div class="col-lg-8">
            &nbsp; &nbsp; &nbsp; &nbsp;
            <small style="color: white; font-size: 1em"
              >Hab.: &nbsp;
              <small style="font-weight: bold; font-size: 1em; color: white"
                > {{currentHuesped.numeroCuarto}} - {{currentHuesped.habitacion}}</small
              >
            </small>
          </div>
        </div>
      </div>
    </div>
  
    <br />
    <!-- </div>  -->
    <form [formGroup]="formGroup">
    <div class="row container">
        <div class="col-lg-7">
          <ng-container *ngIf="isCurrentStatus(['Huesped en Casa', 'Check-Out', 'Uso Interno', 'Bloqueo / Sin Llegadas', 'Reserva Temporal'])">
            <mat-select formControlName='estatus' style="font-weight: bold; font-size: larger; color: white;" [style.background-color]="backgroundColor(currentHuesped.estatus)" name="filter_for" id="demo" class="btn">
              <mat-option style="color: white; font-weight: bold; font-size: larger;" [style.background-color]="backgroundColor(currentHuesped.estatus)" [value]="currentHuesped.estatus">{{currentHuesped.estatus}}</mat-option>
            </mat-select>
          </ng-container>
          
          <ng-container *ngIf="isCurrentStatus(['Reserva Sin Pago', 'Deposito Realizado', 'Esperando Deposito', 'Totalmente Pagada', 'Reserva Confirmada'])">
            <mat-select formControlName='estatus' style="font-weight: bold; font-size: larger; color: white;" #selected (selectionChange)="openDialog(currentHuesped, selected.value)" [style.background-color]="backgroundColor(currentHuesped.estatus)" name="filter_for" id="demo" class="btn">
              <ng-container *ngFor="let estatus of filteredEstatusArray([2, 3, 8, 9, 10])">
                <mat-option style="color: white; font-weight: bold; font-size: medium;" [style.background-color]="estatus.color" [value]="estatus.estatus">{{estatus.estatus}}</mat-option>
              </ng-container>
            </mat-select>
          </ng-container>
          
          <ng-container *ngIf="isCurrentStatus(['No Show', 'Reserva Cancelada'])">
            <mat-select formControlName='estatus' style="color: white;" [style.background-color]="backgroundColor(currentHuesped.estatus)" name="filter_for" id="demo" class="btn">
              <mat-option style="color: white; font-weight: bold; font-size: medium;" [style.background-color]="backgroundColor(currentHuesped.estatus)" [value]="currentHuesped.estatus">{{currentHuesped.estatus}}</mat-option>
            </mat-select>
          </ng-container>
        </div>
          <div class="col-lg-5">
              <mat-select 
                panelClass="dropDown-seasons-panel" 
                #selectedAma 
                (selectionChange)='onChangeAma(currentHuesped.numeroCuarto,selectedAma.value)' 
                formControlName='ama' 
                style="color: white; font-weight: bold; font-size: larger; " 
                [style.background-color]="colorAma" 
                name="estatusAma" id="amaDellaves" class="btn" 
                >
                <ng-container *ngFor="let estatusAmaDeLlaves of houseKeepingCodes" >
                  <mat-option style="font-weight: bold; font-size: medium;  color: white;" [value]="estatusAmaDeLlaves.Descripcion" [style.background-color]="estatusAmaDeLlaves.Color"> {{estatusAmaDeLlaves.Descripcion.toUpperCase()}}</mat-option>
                </ng-container>
              </mat-select>
          </div>
    </div>
  </form>
  <br>

  <div class="row container text-center mx-auto mb-3">
    <div class="col-sm-4 account-info bg-primary text-white">
      <div>
        <label class="font-weight-bold">Su Cuenta:</label>
      </div>
      <label class="large-text">
        $ {{ calculateBalance().toLocaleString("es-MX")}}.00
      </label>
    </div>
  
    <div class="col-sm-4 payment-info bg-warning text-white">
      <div>
        <label class="font-weight-bold">Pagos y Descuentos:</label>
      </div>
      <label class="large-text">
        $ {{ (porPagar! - pendiente).toLocaleString("es-MX") }}.00
      </label>
    </div>
  
    <div class="col-sm-4 pending-info text-white">
      <div>
        <label class="font-weight-bold">Pendiente:</label>
      </div>
      <label class="large-text">
        $ {{ pendiente.toLocaleString("es-MX") }}.00
      </label>
    </div>
  </div>

  </div>
  
  <mat-tab-group [selectedIndex]="selectedIndex" class="col-md-12" >
    <mat-tab label="Reserva">
      <div class="container" style="margin-left: 10px;">
        <app-reservas-component 
          [promesasDisplay]="promesasDisplay"
          [adicionalSubject]="adicionalSubject"
          [onSuccessResponse]="onSuccessResponse"
          [changing]="changingPromesasValue"
          (onAgregarPago)="honAgregarPago($event)"
          (onUpdateEstatusHuesped)="honUpdateEstatusHuesped($event)"
          (onAlertMessage)="honAlertMessage($event)"
          (onGetPromesas)="honGetPromesas($event)"
          (onGuardarPromesa)="honGuardarPromesa($event)" 
          (onGetAdicionales)="honGetAdicionales($event)" 
          (honEstatusAplicado)="honEstatusAplicado($event)"
          [currentHuesped]="currentHuesped" 
          (next)="setStep(2)"
          >
      </app-reservas-component>
      </div>
    </mat-tab>
  
    <mat-tab  label="Huésped">
      <app-huesped *ngIf="!!currentHuesped"
        [currentHuesped]="currentHuesped"
        ></app-huesped>
    </mat-tab>
  
    <mat-tab label="Transacciones">
      <app-transacciones *ngIf="!!currentEdoCuenta"
        [codigosCargoList]="codigosCargo"
        [currentEdoCuenta]="currentEdoCuenta"
        [currentHuesped]="currentHuesped"
        (honAlertMessage)="honAlertMessage($event)"
        (honAddPayment)="honAgregarPago($event)"
        (honFetchReservations)="honFetchReservations($event)"
        (honRefreshEdoCuenta)="onRefreshEdoCuenta($event)"
        ></app-transacciones>
    </mat-tab>
  
    <mat-tab label="Edo de Cuenta">
      <app-edo-cuenta-component *ngIf="!!currentEdoCuenta"
      [currentHuesped]="currentHuesped"
      [currentEdoCuenta]="currentEdoCuenta"
      (honAlertMessage)="honAlertMessage($event)"
      ></app-edo-cuenta-component>
    </mat-tab>
  </mat-tab-group>
  
  
  <app-reservation-actions *ngIf="currentHuesped" 
    [currentHuesped]="currentHuesped" 
    [estatus]="currentHuesped.estatus"
    [currentEdoCuenta]="currentEdoCuenta"
    (loadingEvent)="handleLoading($event)" 
    (honAlertMessage)="honAlertMessage($event)"
    (honSetStep)="setStep($event)"
    (honEstatusUpdate)="onEstatusUpdate($event)"  
    (honModificaReserva)="openModifica()"
    >
  </app-reservation-actions>

  
  <ng-container *ngIf="isLoading">
    <app-loader-spinner></app-loader-spinner>
  </ng-container>
  