<div style="background-color: var(--deep-blue-background);" class="modal-header">
    <h4 style="text-align: center; color: white;" class="modal-title">Añadir Inventario</h4>
    <button style="background-color:var(--header-background); font-weight: bold; color: white;" class="btn" (click)="modal.dismiss()"> X </button>
  </div>
  <div class="modal-body">
    <div style="display: flex;">
        <app-room-generator></app-room-generator>
      </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="onAccept()">Aceptar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>