<div class="modal-header">
    <h4 class="modal-title">{{alertHeader}}</h4>
    <button *ngIf="!simple" style=" background-color:var(--deep-red-btn); font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>
  </div>
  <div class="modal-body">
    <p>{{mensaje}}</p>
      <br>
        <p *ngIf="mensajeExtra">{{mensaje1}}</p>
        <br>
        <p *ngIf="mensajeExtra">{{mensaje2}}</p>
        <br>
        <p *ngIf="mensajeExtra">{{mensaje3}}</p>
        <br>
        <p *ngIf="mensajeExtra">{{mensaje4}}</p>
        <br>
      

    <ng-container *ngIf="isProgress">
      <p>{{countdown}}</p>
      <!-- <mat-progress-bar value="40"></mat-progress-bar> -->
    </ng-container>

  </div>


<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Aceptar')">Aceptar</button>
    <button type="button" class="btn btn-light" *ngIf="!simple" (click)="modal.close('Close click')">Cerrar</button>
  </div>