    <div class="card card-custom">
        <!-- <app-header 
        ></app-header> -->
    </div>
    <div class="card card-custom" style="overflow-y: auto; padding: 10px;">
        <app-content #calendar 
        [datasourceArray]="datasourceArray"
        [roomCodes]="roomCodes"
        [roomCodesComplete]="roomCodesComplete"
        [ratesArrayComplete]="ratesArrayComplete"
        [changing]="changingValue"
        (onResizeReserva)="onResizeReservation($event)" 
        (onChangedRate)="onChangedRate($event)" 
        (onOpenEnviarReservacion)="openEnviarReservacion()">
    </app-content>
    </div>
    <div class="card card-custom">
        <app-footer></app-footer>
    </div>

<ng-container *ngIf="submitLoading">
    <app-loader-spinner></app-loader-spinner>
</ng-container>