    <div class="card card-custom">
        <app-header (onNvaReserva)="onNvaReserva($event)"
        ></app-header>
    </div>
    <div class="card card-custom" style="overflow-y: auto; padding: 10px;">
        <app-content #calendar 
        [datasourceArray]="datasourceArray"
        [roomCodes]="roomCodes"
        [roomCodesComplete]="roomCodesComplete"
        [changing]="changingValue"
        (honEditRsv)="onEditRsv($event)" 
        [onSavedReservation]="eventsSubject.asObservable()" 
        (onResizeReserva)="onResizeReservation($event)" 
        (onChangedRate)="onChangedRate($event)" 
        (onOpenEnviarReservacion)="openEnviarReservacion()"
        (onOpenModifica)="onOpenModifica($event)">
    </app-content>
    </div>
    <div class="card card-custom">
        <app-footer></app-footer>
    </div>

<ng-container *ngIf="submitLoading">
    <app-loader-spinner></app-loader-spinner>
</ng-container>