/* General styles */
.card-custom {
    margin: 10px;
    padding: 10px;
}

/* Flexbox container */
.container {
    display: flex;
    flex-direction: column; /* Default for mobile view */
    height: 100vh; /* Ensure the container takes full height */
}

/* Desktop view */
@media (min-width: 768px) {
    .container {
        flex-direction: column; /* Keep a column layout for content */
        justify-content: space-between; /* Ensure space between content and footer */
    }

    .content-card {
        flex: 3;
        overflow-y: auto;
    }

    .footer-card {
        flex-shrink: 0; /* Prevent the footer from shrinking */
        margin-top: 10px;
        margin-left: 0; /* No left margin for footer */
    }
}

/* Mobile view adjustments */
@media (max-width: 767px) {
    // .footer-card {
    //     display: none; /* Hide footer on mobile */
    // }
}
