<!-- begin::Item -->
<div class="d-flex align-items-center p-5" style="background-color: var(--dark-blue-background);">
    <!-- begin::Label -->
    <div class="flex-grow-1 me-2">
        <a  class="fw-bolder  fs-2" style="color: white;">
            {{ "BadgeWidget.canceled-reservations" | translate }}
        </a>
    </div>
    <!-- end::Label -->
    <!-- begin::Content -->
    <div class="d-flex fw-bolder rounded-2 py-1" style="background-color:var(--light-green-background); padding: 10%;">
        <div class="d-flex flex-column me-2">
            <span class="fw-bold text-gray-800;" style="font-size: 2rem;">
                {{reservasCanceladas.length}}
            </span>
        </div>
    </div>
    <!-- end::Content -->
</div>
<!--end:Item-->