
<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title ">
        <h3 class="card-label">Tipos de Habitación</h3>
        <ng-container *ngIf="reloading===true" >
          <button  style="height: 2.5em; width: 2.5em;" class="btn btn-secondary"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></button>
        </ng-container>
        <ng-container *ngIf="reloading===false">
          <!--(click)="getHabitaciones(true)" -->
          <button class="btn btn-secondary"><i aria-hidden="true" class="ki ki-reload"></i></button>
        </ng-container>
        <button style="position: absolute; right: 0px; margin: 10px;" class="btn btn-primary" (click)="altaDehabitacion()">Agregar Nueva Habitación</button>
      </div>
    </div> 
  
    <div class="card-body">
      <!-- begin:Table -->
        <!-- <app-inline-spinner *ngIf="blockedTabled"></app-inline-spinner> -->
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        <div class="ex-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- Nombre de la habitación Column -->
            <ng-container matColumnDef="Nombre de la habitación" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la habitación </th>
              <td mat-cell *matCellDef="let row;"> {{row.Codigo}} </td>
            </ng-container>
        
            <!-- Codigo de la Habitación Column -->
            <ng-container matColumnDef="Tipo de la Habitación">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de la Habitación </th>
              <td mat-cell *matCellDef="let row"> {{row.Tipo}} </td>
            </ng-container>
        
            <!-- Tipo Column -->
            <ng-container matColumnDef="Capacidad Max.">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad Max. </th>
              <td mat-cell *matCellDef="let row"> {{row.Adultos}} </td>
            </ng-container>
        
            <!-- Capacidad Column -->
            <ng-container matColumnDef="Inventario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventario </th>
              <td mat-cell *matCellDef="let row"> {{row.Inventario}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Agregar al Inventario </th>
              <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element; let i=index"> 
                <a
                title="Agregar"
                class="mx-3 btn btn-icon btn-light btn-hover-success btn-sm"
                (click)="add(element)"
                >
                <i class="fa-solid fa-plus"></i>
              </a> 
              <a
              title="Borrar"
              class="mx-3 btn btn-icon btn-light btn-hover-success btn-sm"
              (click)="delete(element,i)"
              >
             <i class="fa-solid fa-trash-can"></i>
            </a> 
             </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell m-8" style="size: x-large; padding: 5%;" [attr.colspan]="displayedColumns.length">
                NO DATA
              </td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
  </div>
  
  <ng-container *ngIf="isLoading">
    <app-loader-spinner></app-loader-spinner>
  </ng-container>