<ng-container *ngIf="appFooterContainerCSSClass">
  <!-- Footer container -->
  <div class="app-container" [ngClass]="appFooterContainerCSSClass">
    <ng-container *ngTemplateOutlet="footerView"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!appFooterContainerCSSClass">
  <ng-container *ngTemplateOutlet="footerView"></ng-container>
</ng-container>

<ng-template #footerView>
  <div class="footer-container">
    <!-- Buttons Container -->
    <div class="buttons-container">
      <button class="btn btn-light-grey" (click)="openNvaReserva()">
        <app-keenicon name="plus" class="svg-icon fs-2x text-grey"></app-keenicon>
        {{ "FooterComponent.nva-rsv" | translate }}
      </button>
      <button class="btn btn-light-grey" (click)="openNvoBloqueo()">
        <app-keenicon name="plus" class="svg-icon fs-2x text-grey"></app-keenicon>
        {{ "FooterComponent.nvo-bloqueo" | translate }}
      </button>
      <div class="position-relative my-1">
        <button class="btn btn-light-grey">
          <app-keenicon name="magnifier" class="svg-icon fs-2x text-dark"></app-keenicon>          
        </button>
      </div>
    </div>
  

  

    <!-- Version Info (Hidden on Mobile) -->
    <div class="version-info d-none d-md-block text-gray-900 order-2 order-md-1">
      <span class="text-muted fw-semibold me-1">{{ version.split(',')[0] }}&copy;</span>
    </div>
  </div>
</ng-template>
<ng-container *ngIf="submitLoading">
  <app-loader-spinner></app-loader-spinner>
</ng-container>