<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/dashboard.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SidebarMenuComponent.dashboard" | translate}}</span>
      </a>
    </div>

    <!-- Layout builder -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/calendar" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/calendar.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SidebarMenuComponent.calendar" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-uppercase ls-1">{{"SidebarMenuComponent.reports" | translate}}</span>
      </div>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'prospects']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/reservaciones.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.prospects" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'inhouse']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/inhouse.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.huespeds" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'llegadas']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/arrivals.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.llegadas" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'salidas']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/salidas.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.reservationsreports" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'colgados']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/colgados.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.colgadosreports" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-uppercase ls-1">CRM Y OPORTUNIDADES</span>
      </div>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'clientes']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/crm.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.lista-clientes" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'noshow']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/noshow.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.noshow" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-uppercase ls-1">{{"SideBarComponent.finantial-reports" | translate}}</span>
      </div>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'transacciones']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/transacciones.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.transacciones" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'payment']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/payment.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.formasdepago" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'origenventa']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/origen-venta.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.origen-venta" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" [routerLink]="['/reports', 'findedia']" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/fin-de-dia.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SideBarComponent.fin-dia" | translate}}</span>
      </a>
    </div>


         <!-- Separator -->
    <div class="menu-item" style="padding: 0.65rem 1rem;">
      <div class="menu-section pt-8 pb-2">
        <span class="menu-section text-uppercase  ls-1">{{"SidebarMenuComponent.configurations" | translate}}</span>
      </div>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/params" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/hotel.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SidebarMenuComponent.parameters" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/catalogs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/rooms.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SidebarMenuComponent.catalogo-hab" | translate}}</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="catalogs/rates" routerLinkActive="active">
        <span class="menu-icon">
          <img src="/assets/media/sidebar/tarifas.svg" width="24" height="24">
        </span>
        <span class="menu-title">{{"SidebarMenuComponent.rates-tittle" | translate}}</span>
      </a>
    </div>
  


  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
