<div class="footer-container">
    <div class="footer-row">
        <div class="footer-col">
            <h3><span>{{"CalendarComponent.footer-status-recep" | translate}}</span></h3>
        </div>
        <div class="footer-item" style="background-color: var(--light-yellow-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CalendarComponent.btn-reserva-no-payment" | translate}}</a>
                <span class="footer-item-count">{{reservationsStatus.reservaSinPago.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--light-blue-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CalendarComponent.btn-reserva-confirm" | translate}}</a>
                <span class="footer-item-count">{{reservationsStatus.reservaConfirmada.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--light-green-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CalendarComponent.btn-huesped-inhouse" | translate}}</a>
                <span class="footer-item-count">{{reservationsStatus.huespedEnCasa.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--light-red-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CalendarComponent.btn-checkout" | translate}}</a>
                <span class="footer-item-count">{{reservationsStatus.checkOuts.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--light-purple-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CalendarComponent.btn-internaluse" | translate}}</a>
                <span class="footer-item-count">{{reservationsStatus.usoInterno.length}}</span>
            </div>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-col">
            <h3><span>{{"CalendarComponent.footer-status-clean" | translate}}</span></h3>
        </div>
        <div class="footer-item" style="background-color: var(--deep-yellow-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CleanStatusWidgetComponent.review" | translate}}</a>
                <span class="footer-item-count">{{housekeepingStatus.limpiando.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--deep-blue-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CleanStatusWidgetComponent.clean" | translate}}</a>
                <span class="footer-item-count">{{housekeepingStatus.limpias.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--deep-green-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CleanStatusWidgetComponent.retouch" | translate}}</a>
                <span class="footer-item-count">{{housekeepingStatus.retocar.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--deep-red-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CleanStatusWidgetComponent.dirty" | translate}}</a>
                <span class="footer-item-count">{{housekeepingStatus.sucias.length}}</span>
            </div>
        </div>
        <div class="footer-item" style="background-color: var(--deep-grey-btn)">
            <div class="footer-item-content">
                <a href="#" class="footer-item-title">{{"CalendarComponent.btn-bloqued" | translate}}</a>
                <span class="footer-item-count">0</span>
            </div>
        </div>
    </div>
</div>
