<div class="modal-content">
  <div style="background-color: var(--deep-red-background);" class="modal-header">
      <div style="text-align: center; color: white;" class="text-center modal-title h4 col-10"
        id="example-modal-sizes-title-lg">
        {{ "RatesComponent.editBaseRate" | translate }}
      </div>
      <button style="background-color:#fa6d7c; font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>
    </div>
</div>
<div class="modal-body">

<form [formGroup]="preciosFormGroup">
  <div class="row">
      <div class="col-lg-12">
          <h2>{{ "RatesComponent.roomTypes" | translate }}</h2>
          <ng-container *ngFor="let tiposDeHabitacion of tarifatoModify.Habitacion">
              <h1> {{tiposDeHabitacion}} </h1>
          </ng-container>
      </div>
  </div>

  <br> 

  <div class="row">
      <div class="col-lg-12">
          <h2> {{ "RatesComponent.publicRates" | translate }} </h2>
      </div>
  </div>

  <hr style="border: 5px solid red; border-radius: 5px;">

  <br>

  <div class="row">
      <div class="col-lg-12">
          <h3> {{ "RatesComponent.ratesIncludes" | translate }} </h3>
      </div>
  </div>

  <br>

  <div class="row">
      <div class="col-lg-12">
          <h3 style="color: red;"> {{ "RatesComponent.noVariantRate" | translate }} </h3>
      </div>
  </div>

  <div class="row">
      <input type="number" class="form-control" formControlName="tarifaBase" name="tarifaBase" [value]="tarifatoModify.TarifaRack">
  </div>

  <br>

  <!--FORM ARAY BEGINS-->
        <div class="row">
          <div class="col-lg-12">
            <mat-checkbox #checkbox (change)="onDisableBaseRate(checkbox.checked)"> <h3 style="color: red;"> {{ "RatesComponent.ratesQuestion" | translate }} </h3>   </mat-checkbox>
          </div>
        </div>

        <div *ngIf="checkbox.checked" formArrayName="tarifasActivas">  
          <div *ngFor="let tarifasActivas of tarifasActivasControls.controls; let i = index" [formGroupName]="i">
            <hr style="border: 5px solid red; border-radius: 5px;">
            
            <!-- <div class="row">
              <div class="col-lg-12">
                <label style="font-weight: bold;" class="form-label">{{"SpecialRatesComponent.RateName" | translate}}</label>
                <input id="name" name="name"class="form-control" formControlName="Descripcion" name="nombre">
              </div>
            </div> -->

            <br>
            <div class="row">
              <div class="col-lg-6">
                <label class="form-label">{{"SpecialRatesComponent.RateOnePerson" | translate}}</label>
                <input  type="number" class="form-control" formControlName="Tarifa_1" name="tarifa_1">
              </div>
              <div class="col-lg-6">
                <label class="form-label">{{"SpecialRatesComponent.RateTwoPerson"| translate}}</label>
                <input  type="number" class="form-control" formControlName="Tarifa_2" name="tarifa_2">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <label class="form-label">{{"SpecialRatesComponent.RateThreePerson"| translate}}</label>
                <input  type="number" class="form-control" formControlName="Tarifa_3" name="tarifa_3">
              </div>
              <div class="col-lg-6">
                <label class="form-label">{{"SpecialRatesComponent.RateKids"| translate}} </label>
                <input  type="number" class="form-control" formControlName="Tarifa_N" name="tarifa_n">
              </div>
            </div>

            <br>
            <hr style="border: 5px solid red; border-radius: 5px;">

            <!-- <ng-container *ngIf="checkbox.checked">
              <div class="row">
                <div class="col-lg-12">
                  <mat-checkbox formControlName="Activa"  #checkboxNew [value]="tarifasActivas.value.Activa" (change)="onNewRate(checkboxNew.checked, i)"> <h3 style="color: red;"> {{ "RatesComponent.newRatesQuestion" | translate }} </h3>   </mat-checkbox>
                </div>
              </div>
            </ng-container> -->

          </div>
        </div><!--FORM ARRAY END-->




  <br>
  <div class="row">
      <div class="col-lg-12">
          <h4 style="color: grey;"> {{ "RatesComponent.visibleRate" | translate }} </h4>
      </div>
  </div>

    <div class="col-lg-12">
      <ng-container *ngFor="let visibilite of visibility().subTask let i = index">
        <mat-checkbox [disabled]="visibilite.name === 'Channel Manager OTAs' " [checked]="visibilite.value" (change)="updateVisibilityArray($event.checked, i)" style="font-weight: bold;"> {{visibilite.name}}  </mat-checkbox>
      </ng-container>
    </div>

  <br>
  
  <div class="row">
      <div class="col-lg-12">
          <h4 style="color: grey;"> {{ "RatesComponent.cancelPolicy" | translate }} </h4>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
    <ng-container *ngFor="let politicas of politicas(); let i = index">
      <mat-radio-button [value]="politicas.name" [checked]="politicas.value" (change)="setPoliticas($event.source.checked, i)">{{politicas.name}}</mat-radio-button>
    </ng-container>
    </div>
  </div>

</form>

</div>

<div class="card-footer" style="text-align: center;">
<button type="submit" class="btn btn-success col-lg-12" [disabled]="preciosFormGroup.invalid" (click)="onSubmit()">Aceptar</button>
</div>