<div
  id="kt_activities"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="activities"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_activities_toggle"
  data-kt-drawer-close="#kt_activities_close"
>
  <div class="card shadow-none rounded-0">
    <div class="card-header" id="kt_activities_header">
      <h3 class="card-title fw-bolder text-gray-900">Activity Logs</h3>

        <!-- Search Input -->
        <div class="ms-3" style="margin-top:1rem">
          <input
            type="text"
            class="form-control"
            placeholder="Busca por Folio"
            [(ngModel)]="searchTerm"
            (ngModelChange)="filterLogs()"
          />
        </div>

      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="kt_activities_close"
        >
          <app-keenicon name="cross" class="fs-1"></app-keenicon>
        </button>
      </div>
    </div>
    <div class="card-body position-relative" id="kt_activities_body">
      <div
        id="kt_activities_scroll"
        class="position-relative scroll-y me-n5 pe-5"
        data-kt-scroll="true"
        data-kt-scroll-height="auto"
        data-kt-scroll-wrappers="#kt_activities_body"
        data-kt-scroll-dependencies="#kt_activities_header, #kt_activities_footer"
        data-kt-scroll-offset="5px"
      >
        <div class="timeline">
          <!-- Combinación y filtrado de logs según su logType -->
          <ng-container *ngFor="let log of filteredLogs">
            <ng-container *ngIf="log.logType === 1">
              <!-- LogType 1 -->
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div class="timeline-icon symbol symbol-circle symbol-40px">
                  <div class="symbol-label bg-light">
                    <app-keenicon name="calendar-add" class="fs-3 text-primary"></app-keenicon>
                  </div>
                </div>
                <div class="timeline-content mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-bold mb-2">
                      Nueva Reservación con folio 
                      <a class="text-primary fw-bolder me-1 cursor-pointer">
                        #{{log.folio}}
                      </a>
                    </div>
                    <div class="d-flex align-items-center mt-1 fs-6">
                      <div class="text-muted me-2 fs-7">Realizada a las {{getTime(log.timestamp)}} del {{formatDate(log.timestamp)}} </div>
                      <a class="text-primary fw-bolder me-1 cursor-pointer">
                        {{log.username}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="log.logType === 2">
              <!-- LogType 2 -->
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div class="timeline-icon symbol symbol-circle symbol-40px">
                  <div class="symbol-label bg-light">
                    <app-keenicon name="status" class="fs-3 text-primary"></app-keenicon>
                  </div>
                </div>
                <div class="timeline-content mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-bold mb-2">
                      Se Actualizo el estatus de:  
                      <a class="text-primary fw-bolder me-1 cursor-pointer">
                        {{log.oldStatus}} a: {{log.newStatus}}
                      </a>
                    </div>
                    <div class="d-flex align-items-center mt-1 fs-6">
                      <div class="text-muted me-2 fs-7">Realizada a las {{getTime(log.timestamp)}} del {{formatDate(log.timestamp)}} </div>
                      <a class="text-primary fw-bolder me-1 cursor-pointer">
                        {{log.username}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="log.logType === 3">
              <!-- LogType 3 -->
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div class="timeline-icon symbol symbol-circle symbol-40px">
                  <div class="symbol-label bg-light">
                    <app-keenicon name="status" class="fs-3 text-primary"></app-keenicon>
                  </div>
                </div>
                <div class="timeline-content mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-bold mb-2">
                      <ng-container *ngIf="log.message === 'Parametros Updated'"> 
                        Se Actualizaron los parametros {{ log.folio }}:
                      </ng-container>
                      <ng-container *ngIf="log.message === 'Reserva Modificada'">
                        Se Modifico la Reserva # {{ log.folio }}:
                      </ng-container>
                      <ng-container *ngIf="log.message === 'Bloqueo Created'">
                        Se Agrego un Nuevo Bloqueo
                      </ng-container>
                    </div>
                    <!-- New container to manage layout -->
                    <div class="log-details">
                      <mat-list role="list">
                        <ng-container *ngFor="let entry of getPropertiesChangedArray(log)">
                          <mat-list-item class="custom-mat-list-item" role="listitem">
                            <ng-container></ng-container>
                            {{ entry[0] }}: {{ entry[1] }}
                          </mat-list-item>
                        </ng-container>
                      </mat-list>
                      <div class="text-muted me-2 fs-7">Realizada a las {{ getTime(log.timestamp) }} del {{ formatDate(log.timestamp) }}</div>
                      <a class="text-primary fw-bolder me-1 cursor-pointer">
                        {{ log.username }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="log.logType === 4">
              <!-- LogType 4 -->
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div class="timeline-icon symbol symbol-circle symbol-40px">
                  <div class="symbol-label bg-light">
                    <app-keenicon name="status" class="fs-3 text-primary"></app-keenicon>
                  </div>
                </div>
                <div class="timeline-content mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-bold mb-2">
                      Se Agrego un Nuevo Bloqueo
                    </div>
                    <!-- Log details section -->
                    <div class="log-details">
                      <mat-list role="list">
                        <ng-container *ngFor="let entry of getPropertiesChangedArray(log)">
                          <mat-list-item class="custom-mat-list-item" role="listitem">
                            <ng-container *ngIf="!isArray(entry[1]) && !isObject(entry[1])">
                              {{ entry[0] }}: {{ entry[1] }}
                            </ng-container>
                            <ng-container *ngIf="isArray(entry[1])">
                              {{ entry[0] }}:
                              <span *ngFor="let item of entry[1]; let isLast = last">
                                {{ item }}<span *ngIf="!isLast">, </span>
                              </span>
                            </ng-container>
                            <ng-container *ngIf="isObject(entry[1])">
                              {{ entry[0] }}: 
                              <ng-container *ngFor="let key of getObjectKeys(entry[1])">
                                <div>{{ key }}: {{ entry[1][key] }}</div>
                              </ng-container>
                            </ng-container>
                          </mat-list-item>
                        </ng-container>
                      </mat-list>
                      <div class="text-muted me-2 fs-7">
                        Realizada a las {{ getTime(log.timestamp) }} del {{ formatDate(log.timestamp) }}
                      </div>
                      <a class="text-primary fw-bolder me-1 cursor-pointer">
                        {{ log.username }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="log.logType === 5">
              <!-- LogType 1 -->
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div class="timeline-icon symbol symbol-circle symbol-40px">
                  <div class="symbol-label bg-light">
                    <app-keenicon name="calendar-add" class="fs-3 text-primary"></app-keenicon>
                  </div>
                </div>
                <div class="timeline-content mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-bold mb-2">
                      Nuevo Movimiento Agregago: 
                      <a class="text-primary fw-bolder me-1 cursor-pointer">#{{log.payment?.Folio}}</a>
                    </div>
                    
                    <!-- Handle undefined properties safely -->
                    <div *ngIf="log.payment?.Cargo === 0 || log.payment?.Abono === 0" class="fs-5 fw-bold mb-2">
                      <ng-container *ngIf="log.payment?.Cargo === 0">
                        Abono agregado: 
                        <a class="text-primary fw-bolder me-1 cursor-pointer">
                          {{log.payment?.Abono.toLocaleString("es-MX",{ minimumFractionDigits: 2 })}} - {{log.payment?.Forma_de_Pago}}
                        </a>
                      </ng-container>
                      <ng-container *ngIf="log.payment?.Abono === 0">
                        Cargo agregado: 
                        <a class="text-primary fw-bolder me-1 cursor-pointer">
                        {{log.payment?.Cargo.toLocaleString("es-MX",{ minimumFractionDigits: 2 })}} FP: {{log.payment?.Forma_de_Pago}}
                        </a>
                      </ng-container>
                    </div>
              
                    <div class="d-flex align-items-center mt-1 fs-6">
                      <div class="text-muted me-2 fs-7">
                        Realizada a las {{getTime(log.timestamp)}} del {{formatDate(log.timestamp)}}
                      </div>
                      <a class="text-primary fw-bolder me-1 cursor-pointer">{{log.username}}</a>
                    </div>
                  </div>
                </div>
              </div>
              
            </ng-container>
            
            
          </ng-container>
        </div>
      </div>
    </div>
    <div class="card-footer py-5 text-center" id="kt_activities_footer">
      <a to="/crafted/pages/profile" class="btn btn-bg-body text-primary">
        View All Activities
        <app-keenicon name="arrow-right" class="fs-3 text-primary"></app-keenicon>
      </a>
    </div>
  </div>
</div>
