@media (max-width: 576px) {
    .card {
      padding: 0.5rem;
    }
    
    .timeline {
      padding: 0.5rem;
    }
    
    .timeline-item {
      flex-direction: column;
    }
  
    .timeline-icon {
      margin-bottom: 0.5rem;
    }
  }
  .log-details {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  }
  
  .custom-mat-list-item {
    margin: 0;
    padding: 2px 0; /* Ajusta el padding según sea necesario */
  }
  