<div class="modal-content">
    <div style="background-color: var(--deep-red-background);" class="modal-header">
      <div style="text-align: center; color: white;" class="text-center modal-title h4 col-10"
        id="example-modal-sizes-title-lg">
        NUEVA RESERVA
        <!-- <label>
          {{huesped.folio}}</label> -->
      </div>
      <button style=" background-color:var(--header-background); font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>
    </div>
</div>

<div  class="cursor-default overlay overlay-block modal-body" style="background-color: #e6e9ed;">
    <form [formGroup]="formGroup" class="form form-label-right" style="background-color: #e6e9ed">

<!-- DatePicker and Noches Section -->
<div class="date-picker-container">
  <!-- DatePicker -->
  <mat-form-field class="date-picker">
    <mat-label>Seleccion de Fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker" [dateFilter]="dateFilter">
      <input [formControl]="intialDateFC"
             matStartDate 
             (dateChange)="addEventIntialDate('change', $event)" 
             placeholder="Fecha de Llegada">
      <input [formControl]="endDateFC" 
             matEndDate 
             (dateChange)="addEventEndDate('change', $event)" 
             placeholder="Fecha de Salida">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <!-- Noches Label and Value -->
  <div class="noches-container">
    <label class="noches-label"> Noches: </label>
    <label class="noches-value"> {{ stayNights < 0 ? 1 : stayNights }}</label>
  </div>
</div>


            <div style="margin-top: 10px;" class="row">
              <div class="form-group col-lg-6">
                <label style="color:#00506a; font-weight: bold;" class="form-label">Adultos</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <button style="background-color: transparent;border-right: 2px solid #e6e9ed; border-left: 2px solid #dadcdf; border-top : 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="minus()" type="button" ng-click="countVal=countVal+1">
                      <i class="fa fa-minus">
                      </i>
                    </button>
                  </div>
                  <input
                    style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;  border-left: 2px solid #e6e9ed;"
                    class="text-center input-group form-control form-control-lg form-control-solid"
                    #controladultos
                    placeholder=""
                    name="adultos"
                    [value]="quantity"
                    formControlName="adultos"
                    [class.is-invalid]="isControlInvalid('adultos')"
                    [class.is-valid]="isControlValid('adultos')"
                    >
                    <div
                    class="invalid-feedback"
                    *ngIf="controlHasError('max', 'adultos')"
                    >
                    Maximo {{maxPeople}} Adultos
                    </div>
                  <div class="input-group-append">
                    <button style="border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; background-color: transparent;" class="btn btn-secondary" (click)="plus()" type="button">
                      <i class="fa fa-plus">
                      </i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-lg-6">

                <label style="color:#00506a; font-weight: bold;" class="form-label">Niños</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <button style="background-color: transparent; border-left: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="minusNin()" type="button">
                      <i class="fa fa-minus">
                      </i>
                    </button>
                  </div>
                  <input
                    style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; border-left: 2px solid #e6e9ed;"
                    class="text-center input-group form-control form-control-lg form-control-solid" placeholder=""
                    name="ninos"
                    [value]="quantityNin"
                    formControlName="ninos"
                    [class.is-invalid]="isControlInvalid('ninos')"
                    [class.is-valid]="isControlValid('ninos')"
                    >
                  <div class="input-group-append"
                    class="invalid-feedback"
                    *ngIf="controlHasError('maxlength', 'ninos')"
                  >
                    Maximo {{ maxChildren }} Niños
                  </div>
                  <div class="input-group-append">
                    <button style="background-color: transparent; border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="plusNin()" type="button">
                      <i class="fa fa-plus">
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 5px;">
              <label style="color:#00506a; font-weight: bold;" class="form-group col-lg-6" >Habitación </label>
              <div class="col-lg-12" style="margin-top:10px">
                <mat-select #tipodeCuartoDropDown
                formControlName="habitacion"
                class="form-control form-control-lg "
                name="habitacion"
                placeholder="-- Seleccione Tipo de Habitación -- "
                required
                (selectionChange)="buscaDispo($event.value)"
                >
                    <mat-option disabled="true" value="0">-- Selecciona Habitación --</mat-option>
                    <mat-option value="1">Todos los Tipos de Cuartos</mat-option>
                    <mat-option *ngFor="let tipoCuarto of roomCodes" [value]="tipoCuarto">{{tipoCuarto.Codigo.replace("_"," ")}} </mat-option>
                </mat-select>

                    <!-- <mat-error *ngIf="habitacion.errors?.required">
                      * Campo Obligatorio
                    </mat-error> -->
              </div>
            </div>
            <!-- Spinner -->
            <ng-container *ngIf="isLoading">
              <app-inline-spinner></app-inline-spinner>
            </ng-container>

<ng-container *ngIf="rsvFromCalendar">
    <ng-container *ngFor="let codigosCuarto of availavilityCodeRooms; ">
      <div *ngIf="codigosCuarto.Codigo === cuarto" style="font-weight:bold; color: rgba(128, 128, 128, 0.623);" class=" modal-header"><h2 style="color: black">{{codigosCuarto.Codigo.replace("_"," ").toUpperCase()}}</h2> (Cap. Max.: {{codigosCuarto.Personas}})</div>
    </ng-container>

    <table mat-table [dataSource]="roomRates(cuarto)">
      <ng-container matColumnDef="Tarifa">
        <th mat-header-cell *matHeaderCellDef> Tarifa </th>
        <td mat-cell *matCellDef="let element"> {{element.Tarifa}} </td>
      </ng-container>
  
      <ng-container matColumnDef="$ Promedio x Noche">
        <th mat-header-cell *matHeaderCellDef> $ Promedio x Noche </th>
        <td mat-cell *matCellDef="let element"> {{ratesTotalCalc(element,stayNights)/stayNights | currency : 'MXN' : 'symbol' : '1.0-0'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{ratesTotalCalc(element,stayNights) | currency : 'MXN' : 'symbol' : '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td  (click)="$event.stopPropagation()" mat-cell *matCellDef="let element; let i = index "> 
          <mat-radio-group [name]="cuarto">
            <mat-radio-button [disabled]="revisaCapacidad(cuarto)" [value]="element[i]" (change)="tarifaRadioButton(ratesTotalCalc(element,stayNights),element,$event, cuarto)"></mat-radio-button>   
          </mat-radio-group>
        </td>
      </ng-container>

      <!--Habitacion List Column-->
      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef colspan="2">
          <section style="display: contents;
          align-items: center;
          height: 60px;">
            <h4 style="margin-top: 10px;"> Habitación: </h4>
            <ng-container *ngFor="let habitacion of preAsignadasArray">
              <ng-container *ngIf="habitacion.codigo === cuarto && numeroCuarto === habitacion.numero">
                  <mat-checkbox [disabled]="habitacion.disabled || revisaCapacidad(cuarto)" formControlName="checkbox" #checked [checked]="habitacion.checked" (change)="preAsignar(habitacion.numero,habitacion.codigo,checked.checked, habitacion.disabled)"><label style="font-weight: bold; margin-right: 7%">{{ habitacion.numero }}</label></mat-checkbox> &nbsp; 
              </ng-container>
            </ng-container>
          </section>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['disclaimer'] "  class="example-second-footer-row"></tr>
    </table>

</ng-container>

            <!-- Avaibility Table -->
            <ng-container *ngIf="cuarto !== '' && rsvFromCalendar === false" style="margin-top: 10px;">
              <mat-accordion [style]="accordionDisplay" class="example-headers-align" multi>
                <mat-expansion-panel  [expanded]="step === 1"  hideToggle>
                  <!-- HEADER DEL ACCORDION DE DISPONIBILIDAD -->
                  <mat-expansion-panel-header *ngIf="!checkAvaibility(cuarto)" [ngStyle]="{'background-color': revisaCapacidad(cuarto) ? '#fa6d7c' : '#99d284' }">
                    <mat-panel-title>
                      DISPONIBILIDAD
                    </mat-panel-title>
                    <mat-panel-description *ngIf="maxPeopleFlag">
                      <small> <label  style="font-weight:bold">El numero personas seleccionado exede la cantidad maxima permitida para este tipo de habitacion</label></small>
                    </mat-panel-description> 
                  </mat-expansion-panel-header>
                  <!-- [FIN] HEADER DEL ACCORDION DE DISPONIBILIDAD -->
                  <mat-expansion-panel-header *ngIf="checkAvaibility(cuarto)" [ngStyle]="{'background-color': revisaCapacidad(cuarto) ? '#fa6d7c' : '#99d284' }">
                    <mat-panel-title>
                      SIN DISPONIBILIDAD
                    </mat-panel-title>
                    <mat-panel-description>
                     <!--Type your name and age-->
                     Consulte Otro Tipo de Habitacion
                      <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
<br>
                  <div  class="table-responsive angular-bootstrap-table">

                    <!-- CUANDO ES UN SOLO TIPO DE CUARTO EN CONSULTA -->
                    <ng-container *ngIf="cuarto !== '1' || checkAvaibility(cuarto)" >
                      <ng-container *ngFor="let codigosCuarto of availavilityCodeRooms; ">
                        <div *ngIf="codigosCuarto.Codigo === cuarto" style="font-weight:bold; color: rgba(128, 128, 128, 0.623);" class=" modal-header"><h2 style="color: black">{{codigosCuarto.Codigo.replace("_"," ").toUpperCase()}}</h2> (Cap. Max.: {{codigosCuarto.Personas}})</div>
                      </ng-container>

                      <table mat-table [dataSource]="roomRates(cuarto)">
                        <ng-container matColumnDef="Tarifa">
                          <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                          <td mat-cell *matCellDef="let element"> {{element.Tarifa}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="$ Promedio x Noche">
                          <th mat-header-cell *matHeaderCellDef> $ Promedio x Noche </th>
                          <td mat-cell *matCellDef="let element"> {{ratesTotalCalc(element,stayNights)/stayNights | currency : 'MXN' : 'symbol' : '1.0-0'}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Total">
                          <th mat-header-cell *matHeaderCellDef> Total </th>
                          <td mat-cell *matCellDef="let element"> {{ratesTotalCalc(element,stayNights) | currency : 'MXN' : 'symbol' : '1.0-0'}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="Acciones">
                          <th mat-header-cell *matHeaderCellDef> Acciones </th>
                          <td  (click)="$event.stopPropagation()" mat-cell *matCellDef="let element; let i = index "> 
                            <mat-radio-group [name]="cuarto">
                              <mat-radio-button [disabled]="revisaCapacidad(cuarto)" [value]="element[i]" (change)="tarifaRadioButton(ratesTotalCalc(element,stayNights),element,$event, cuarto)"></mat-radio-button>   
                            </mat-radio-group>
                          </td>
                        </ng-container>
  
                        <!--Habitacion List Column-->
                        <ng-container matColumnDef="disclaimer">
                          <td mat-footer-cell *matFooterCellDef colspan="2">
                            <section style="display: contents;
                            align-items: center;
                            height: 60px;">
                              <h4 style="margin-top: 10px;"> Habitación: </h4>
                              <ng-container *ngFor="let habitacion of preAsignadasArray">
                                <ng-container *ngIf="habitacion.codigo === cuarto">
                                    <mat-checkbox [disabled]="habitacion.disabled || revisaCapacidad(cuarto)" formControlName="checkbox" #checked [checked]="habitacion.checked" (change)="preAsignar(habitacion.numero,habitacion.codigo,checked.checked, habitacion.disabled)"><label style="font-weight: bold; margin-right: 7%">{{ habitacion.numero }}</label></mat-checkbox> &nbsp; 
                                </ng-container>
                              </ng-container>
                            </section>
                          </td>
                        </ng-container>

                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="['disclaimer'] "  class="example-second-footer-row"></tr>
                      </table>

                    </ng-container>
                    <!-- [FIN] CUANDO ES UN SOLO TIPO DE CUARTO EN CONSULTA -->

                    <!-- CUANDO SE CONSULTAN TODOS LOS TIPOS DE CUARTO -->
                    <ng-container *ngIf="cuarto === '1'">
                      <!--CUANDO SE SELECCIONARON TODOS LOS CUARTOS-->
                      <ng-container *ngFor="let codigosCuarto of availavilityRooms; ">
                        <div style="color: black" [ngStyle]="{'background-color': revisaCapacidad(codigosCuarto.Codigo) ? '#fa6d7c' : '#99d284' }" class=" modal-header"><h2 style="font-weight: bold; color: black">{{codigosCuarto.Codigo.replace("_"," ").toUpperCase()}}</h2>                           
                          <small style="margin-left: 5%; margin-right: 5%; font-weight: bold; font: bold;" *ngIf="revisaCapacidad(codigosCuarto.Codigo)">
                            <div [innerHTML]="mensajeCapacidad"></div>
                          </small> (Cap. Max.: {{codigosCuarto.Personas}})
                        </div>
  
                              <table mat-table [dataSource]="roomRates(codigosCuarto.Codigo)">                        
                                <ng-container matColumnDef="Tarifa">
                                  <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                                  <td mat-cell *matCellDef="let element"> {{element.Tarifa}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="$ Promedio x Noche">
                                  <th mat-header-cell *matHeaderCellDef> $ Promedio x Noche </th>
                                  <td mat-cell *matCellDef="let element">{{ratesTotalCalc(element,stayNights,codigosCuarto.Codigo,true) | currency : 'MXN' : 'symbol' : '1.0-0'}} </td><!--{{ratesTotalCalc(element,stayNights)/stayNights}}-->
                                </ng-container>
                            
                                <ng-container matColumnDef="Total">
                                  <th mat-header-cell *matHeaderCellDef> Total </th>
                                  <td mat-cell *matCellDef="let element"> {{ratesTotalCalc(element,stayNights,codigosCuarto.Codigo) | currency : 'MXN' : 'symbol' : '1.0-0'}} </td><!--{{ratesTotalCalc(element,stayNights)}}-->
                                </ng-container>
                      
                                <ng-container matColumnDef="Acciones">
                                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                  <td  (click)="$event.stopPropagation()" mat-cell *matCellDef="let element; let i = index"> 
                                      <mat-radio-group [name]="cuarto" >
                                        <mat-radio-button [disabled]="revisaCapacidad(codigosCuarto.Codigo)" [value]="element" [name]="i" (change)="tarifaRadioButton(ratesTotalCalc(element,stayNights,codigosCuarto.Codigo),element, $event, codigosCuarto.Codigo)"></mat-radio-button>
                                    </mat-radio-group>                                  
                                  </td>
                                </ng-container>
        
                              <!--Habitacion List Column-->
                              <ng-container matColumnDef="disclaimer">
                                <td mat-footer-cell *matFooterCellDef colspan="2">
                                  <section style="display: contents;
                                  align-items: center;
                                  height: 60px;">
                                    <h4 style="margin-top: 10px;"> Habitación: </h4>
                                  <ng-container *ngFor="let habitacion of preAsignadasArray">
                                    <ng-container *ngIf="habitacion.codigo === codigosCuarto.Codigo">
                                        <mat-checkbox [disabled]="habitacion.disabled || revisaCapacidad(habitacion.codigo)" formControlName="checkbox" #checked [checked]="habitacion.checked" (change)="preAsignar(habitacion.numero,habitacion.codigo,checked.checked, habitacion.disabled)"><label style="font-weight: bold; margin-right: 7%">{{ habitacion.numero }}</label></mat-checkbox> &nbsp; 
                                    </ng-container>
                                  </ng-container>
                                  </section>
                                </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              <tr mat-footer-row *matFooterRowDef="['disclaimer'] "  ></tr>
                            </table>

                    </ng-container>
                    <!-- FIN DE SELECCION DE TODOS LOS CUARTOS -->
                    </ng-container>
                    <!-- [FIN] CUANDO SE CONSULTAN TODOS LOS TIPOS DE CUARTO -->
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
             </ng-container>
<!--FIN DE DISPONIBILIDAD-->

<br>

    <div style="background-color:var(--deep-red-background);" class="modal-tittle">
      <div style="color: white; padding-top: 1%; padding-bottom: 1%;" class="text-center modal-title h5 col-12">
        Agrega Húesped
      </div>
     </div>

    <div class="cursor-default  modal-body" style="background-color: #dadcdf">
        <div class="row">
          <div class="col-lg-12">
            <label class="form-label">Nombre Completo</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="nombre"
              placeholder="Nombre completo"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('nombre')"
              formControlName="nombre"
            /><!--[class.is-valid]="isControlValid('nombre')"-->
            <div class="valid-feedback" *ngIf="isControlValid('nombre')">
              Nombre Escrito Correctamente
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'nombre')"
            >
              Campo Requerido*
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'nombre')"
            >
              Minimo 3 letras
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'nombre')"
            >
              Maximo 100 letras
            </div>
            <mat-error *ngIf="nombre!.errors?.required">
              * Obligatorio
            </mat-error>
          </div>
        </div>


        <div class="form-group row">

        <div class="col-lg-6">
          <label class="form-label">Email</label>
          <input
            type="email"
            required
            class="form-control form-control-lg form-control-solid"
            name="email"
            placeholder="Email"
            autocomplete="off"
            formControlName="email"
            [class.is-invalid]="isControlInvalid('email')"/>
            <!--(input)="emailValidator($event.target.value)/>"-->
          <!--
          [class.is-invalid]="isControlInvalid('email')"
            [class.is-valid]="isControlValid('email')"-->
          <!-- <div class="valid-feedback" *ngIf="isControlValid('email')">
            Email Escrito Correctamente
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'email')"
          >
            Minimo 3 letras
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'email')"
          >
            Maximo 100 letras
          </div>
          <div
          class="invalid-feedback"
          *ngIf="controlHasError('pattern', 'email')"
        >
          Escriba un correo valido
        </div> -->
        <mat-error *ngIf="nombre!.errors?.required">
          * Obligatorio
        </mat-error>
        </div>

        <div class="col-lg-6">
          <label class="form-label">Teléfono</label>
          <input
            type="tel"
            required
            class="form-control form-control-lg form-control-solid"
            name="telefono"
            placeholder="Teléfono"
            autocomplete="off"
            formControlName="telefono"
            [class.is-invalid]="isControlInvalid('telefono')"
            [class.is-valid]="isControlValid('telefono')"/>
          <!-- <div class="invalid-feedback" *ngIf="isControlValid('telefono')">
            Teléfono Invalido
          </div> -->
         <div class="valid-feedback" *ngIf="isControlValid('telefono')">
            Teléfono Escrito Correctamente
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'telefono')"
          >
            Minimo 10 numeros
          </div>
          <mat-error *ngIf="nombre!.errors?.required">
            * Obligatorio
          </mat-error>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'telefono')"
          >
            Maximo 14 numeros
          </div>
          <div
          class="invalid-feedback"
          *ngIf="controlHasError('pattern', 'telefono')"
          >
           Solo se permiten letras
        </div>
        </div>

      </div>
    </div>

    <div style="background-color:var(--deep-red-background);" class="modal-header">
      <div style="text-align: center; color: white;" class="text-center modal-title h4 col-12" id="example-modal-sizes-title-lg">
        Confirmar el Tipo de Reserva
        <div class="form-group row">
          <div class="form-group col-lg-6">
            <button
              class="btn"
              style="background-color:var(--walkin-btn); width: 100%;"
              type="submit"
              name="estatus"
              [disabled]="preAsignadasArray.length === 0 || 
                          !formGroup.get('nombre')?.valid || 
                          !formGroup.get('email')?.valid || 
                          !formGroup.get('telefono')?.valid || 
                          !noDisabledCheckIn ||
                          cuarto === '' || 
                          preAsigCheck() || 
                          maxPeopleFlag || 
                          tarifaSeleccionadaCheck()"
              (click)="setEstatus(1); closeModal()"
            >
              Realiza Walk-In
            </button>
          </div>
          <div class="form-group col-lg-6">
            <button
              class="btn"
              style="background-color:var(--rsv-btn); width: 100%;"
              type="submit"
              name="estatus"
              [disabled]="preAsignadasArray.length === 0 || 
                          !formGroup.get('nombre')?.valid || 
                          !formGroup.get('email')?.valid || 
                          !formGroup.get('telefono')?.valid || 
                          cuarto === '' || 
                          preAsigCheck() || 
                          maxPeopleFlag || 
                          tarifaSeleccionadaCheck()"
              (click)="setEstatus(2); closeModal()"
            >
              Agrega Reserva
            </button>
          </div>
          <div class="form-group col-lg-6">
            <button
              class="btn"
              style="background-color:var(--internal-use-btn); width: 100%;"
              type="submit"
              [disabled]="preAsignadasArray.length === 0 || 
                          !formGroup.get('nombre')?.valid || 
                          !formGroup.get('email')?.valid || 
                          !formGroup.get('telefono')?.valid || 
                          cuarto === '' || 
                          preAsigCheck() || 
                          maxPeopleFlag || 
                          tarifaSeleccionadaCheck()"
              (click)="setEstatus(5); closeModal()"
            >
              Reserva Uso Interno
            </button>
          </div>
          <div class="form-group col-lg-6">
            <button
              class="btn"
              style="background-color:var(--temporal-rsv-btn); width: 100%;"
              type="submit"
              value="7"
              [disabled]="preAsignadasArray.length === 0 || 
                          !formGroup.get('nombre')?.valid || 
                          !formGroup.get('email')?.valid || 
                          !formGroup.get('telefono')?.valid || 
                          cuarto === '' || 
                          preAsigCheck() || 
                          maxPeopleFlag || 
                          tarifaSeleccionadaCheck()"
              (click)="setEstatus(7); closeModal()"
            >
              Reserva Temporal
            </button>
          </div>
        </div>
      </div>
    </div>
    
    

    

</form>
</div>

  