
.name-container-dropdown
  {
    position: absolute;
    z-index:1;
    width:80%;
    height:80%;
    max-height:150px;
    background:#F6F6F6;
    overflow-y:auto
  }
  #close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
select {
  background-image:
    linear-gradient(45deg, transparent 50%, #00506a 60%),
    linear-gradient(135deg, #00506a 40%, transparent 50%) !important;
  background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5); 
  z-index:10000;
  text-align: center;
  vertical-align: middle;
}
.day {      
  text-align: center;
  padding: 7px;
  border-radius: 1rem;
  width: 100% !important;
}
.ngb-dp-day{
  width: 100% !important;
  height: 100% !important;
}
.ngb-dp-weekday{
 width: 100% !important;
 height: 100% !important;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}
.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

/* Increase specificity by targeting the parent containers */
.modal-body .form .date-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  /* Mobile view styling */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; /* Remove bottom margin for mobile view */
  }
}

/* DatePicker styling */
.modal-body .form .date-picker-container .date-picker {
  flex: 1;
  min-width: 300px;
  max-width: 100%;

  /* Center the DatePicker on mobile */
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

/* Noches section styling */
.modal-body .form .date-picker-container .noches-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* Center the "Noches" label and value on mobile */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

.modal-body .form .noches-label,
.modal-body .form .noches-value {
  font-weight: bold;
  color: #00506a;
  font-size: 2rem; /* Increase font size */
  margin-bottom: 1rem;
}

/* Make the "Noches" value even larger for emphasis */
.modal-body .form .noches-value {
  font-size: 2rem; /* Larger font size for the value */
  margin-top: 5px;
  margin-bottom: 1.3rem;
}


/* Desktop styling for DatePicker and Noches section */
.date-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  /* Add space between DatePicker and Noches section */
  .date-picker {
    margin-right: 20px; /* Adjust the space as needed */
  }

  .noches-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px; /* Add space on the left side */
  }
}

/* Noches label and value styling */
.noches-label,
.noches-value {
  font-weight: bold;
  color: #00506a;
  font-size: 1.2rem;
  padding-bottom: 4px; /* Adjust to align vertically with DatePicker */
}

/* Larger value styling for emphasis */
.noches-value {
  font-size: 1.4rem;
}






.inner-table {
  font-size: 0.8rem; // Reduce text size
  width: 90%; // Make it smaller than the parent table
  margin: auto; // Center it
}

.inner-table th, .inner-table td {
  padding: 4px; // Reduce cell padding
}

.inner-table {
  max-height: 300px; 
  overflow-y: auto; // Make it scrollable
  display: block;
}

.expanded td {
  background-color: #f5f5f5; // Light gray for expanded rows
}