:host {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.flex-equal-height {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap if the viewport is too small */
}

.flex-item {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the item takes full height available */
}

.child-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spread out */
  border-radius: 0.5rem; /* Optional: Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}