
<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <!--class="card card-xl-stretch mb-xl-8"-->
    <app-arrivals></app-arrivals>
  </div>
  <div class="col-xl-4">
    <app-departures></app-departures>
  </div>
  <div class="col-xl-4">
    <app-in-house></app-in-house>
  </div>
</div>
<!-- end::Row -->

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
  <!--begin::Col-->
  <div class="col-xxl-6 mb-5 mb-xl-10">
    <app-new-charts-widget8 cssClass="h-xl-100" chartHeight="275px" [chartHeightNumber]="275"></app-new-charts-widget8>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-xxl-6 mb-5 mb-xl-10">
    <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <app-stats-widget2
      class="card card-xl-stretch mb-xl-8"
      avatar="./assets/media/svg/avatars/029-boy-11.svg"
      title="Arthur Goldstain"
      description="System & Software Architect"
    ></app-stats-widget2>
  </div>

  <div class="col-xl-3">
    <app-stats-widget2
      class="card card-xl-stretch mb-xl-8"
      avatar="./assets/media/svg/avatars/014-girl-7.svg"
      title="Lisa Bold"
      description="Marketing & Fanance Manager"
    ></app-stats-widget2>
  </div>

  <div class="col-xl-3">
    <app-stats-widget2
      class="card card-xl-stretch mb-5 mb-xl-8"
      avatar="./assets/media/svg/avatars/004-boy-1.svg"
      title="Nick Stone"
      description="Customer Support Team"
    ></app-stats-widget2>
  </div>

  <div class="col-xl-3">
    <app-stats-widget2
      class="card card-xl-stretch mb-5 mb-xl-8"
      avatar="./assets/media/svg/avatars/004-boy-1.svg"
      title="Nick Stone"
      description="Customer Support Team"
    ></app-stats-widget2>
  </div>
</div>
<!-- end::Row -->
